@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
}

.number-flipper section span {
  position: relative;
  font-weight: 900;
  height: 70px !important;
  width: 65px !important;
  @apply bg-secondary;
  @apply mr-1;
  @apply pb-[.1rem];
}

/* .number-flipper section span:nth-child(3) {
  @apply mr-2;
} */
